html {
    scroll-behavior:smooth !important;
}

*{
    /* outline-style: auto; */
}
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	color: #737272;
	line-height: 24px;
	font-size: 13px;
	letter-spacing: 1.2px;
	-webkit-font-smoothing: antialiased;
	margin:0px;
}

/* COMMON CSS Properties ----------------------------------------------------------------------------*/
li {
    line-height: 20px;
}
ul, ol {
    padding: 0;
    margin: 0 0 10px 25px;
}

h3 {
    font-size: 24.5px;
}
h4 {
    font-size: 17.5px;
}
h6 {
    font-size: 11.9px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 10px 0;
    font-family: inherit;
    font-weight: bold;
    line-height: 20px;
    color: inherit;
    text-rendering: optimizelegibility;
}

hr {
    margin: 20px 0;
    border: 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #fff;
}
.page-header {
    padding-bottom: 9px;
    margin: 20px 0 30px;
    border-bottom: 1px solid #eee;
}



.lr_div{
    width:100%;
    display:flex;
    justify-content: space-evenly;
	margin-bottom:150px;
}

.l_div{
    background-color: rgb(255, 255, 255);
    width:36%;
    text-align:left;
}


.l_div ul a{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 100;
    text-decoration: none;
    color: #050507a9;

}

.l_div ul a:hover{
    font-weight: 550;
    color:#ee3e33;
    transition:left 300ms ease-in-out;
}


.l_div li{
    padding-bottom:10px;
    border-color: rgba(0, 0, 0, 0.274);
    border-width:0.1em;
}


.r_div{
	line-height: 16px;
    margin: 40px 50px 50px;
    width:100%;
	color:#4b4a4a;
}
.r_div a{
	text-decoration:none;
	color:#373737d0;
}
.nav_ul_1{
    position:sticky;
    top:100px;
    margin-top:40px;
    list-style-type:none;
    padding:20px,0px,0px;
    text-align: left;
}
.nav_ul_2{
    list-style-type:none;
    text-align: left;
}

.nav_li.active a{
    color:#ee3e33 !important;
    font-weight: 550;
    font-size: 12px;
}


@media screen and (max-width:700px){
    .l_div{
        display:none
    }
    .r_div{
        margin: 20px 10px 50px;
		padding-top:20px;
        width:100%;
    }
    }
    
/* Research CSS --------------------------------------------------------------------------------------------*/

#statemet{scroll-margin-block-start: 180px;}
#pro1, #pro2, #pro3
{scroll-margin-block-start: 110px;}

.res_d2 img{ 
	float:right; 
	margin:10px; 
	width:400px; 
	height:100%;
	object-fit: cover;
}

@media(max-width:400px) {
	.res_d2 img{ 
		float:right; 
		width:300px; 
		height:100%;
		object-fit: cover;
	}
}

/* Publication CSS--------------------------------------------------------------------------------------------*/

#statement{scroll-margin-block-start: 180px;}
#journal{scroll-margin-block-start: 110px;}
#conference{scroll-margin-block-start: 110px;}

/* Teaching CSS --------------------------------------------------------------------------------------------*/
#ECE342{scroll-margin-block-start: 110px;}
#ECE421{scroll-margin-block-start: 110px;}
#CIVE540{scroll-margin-block-start: 110px;}

/* Photos CSS =============================================================================================*/

#statemet{scroll-margin-block-start: 180px;}
#imagegallery1, #imagegallery2{scroll-margin-block-start: 110px;}
.span4 img{
   object-fit:cover !important;	
}

/* People CSS =============================================================================================*/
#principalinvestigator .row-fluid,
#graduate .row-fluid,
#undergraduate .row-fluid,
#visitors .row-fluid,
#formerstudents .row-fluid
{
	display:flex;
	justify-content: center;
	flex-wrap: wrap;
}
.span3{
	display:flex;
	justify-content: center;
	align-items: center;
}
.span9{
	width:60%;
	margin-left:5%;
}

#principalinvestigator .span3{
	display:flex;
	align-items:baseline;
}
#graduate img,
#undergraduate img,
#visitors img,
#formerstudents img
{
	width:150px;
	height:150px;
	border-radius: 50%;
	border-style:none;
}


#statement{scroll-margin-block-start: 180px;}
#graduate,
#principalinvestigator,
#undergraduate,
#visitors,
#formerstudents,
#opportunities
{
    scroll-margin-block-start: 110px;
}

#opportunities a{
	color:rgba(181, 0, 0, 0.818);
}
#opportunities a:hover{
	color:red;
	text-decoration: underline;
}

/* Home CSS ============================================================================================== */
.prof_pic_div{
	margin-top: 25px;
	display:flex;
	justify-content: left;
	margin-bottom:10px;
}
.profile_pic {
	border-radius: 0%;
	width: 175px;
	align-self: cent;
}

.d1{
	padding:10px;
	width:20%;
	text-align: left;
	color: #847878;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	line-height: 1.4;
}
.d2 h3{
	color:#4b4a4a;
}
.info h4{
	display:flex;
}

.author_urls_wrapper {
	display: block;
}

.author__urls {
	display: block;
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
	background: transparent;
	box-shadow: none;
}

.author__urls li {
	white-space: nowrap;
	list-style-type: none;
	margin-bottom: 5px;
	color: #7a6f70;
}

.author__urls a {
	display: inline-block;
	justify-content: center;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-size: 1em;
}
.name{
	display:none;
}

[class^="fa"] {
	width: 20px;
	margin-right: 2px;
	fill: #fff;
}


.d2 {
	max-width:48%;
	padding: 30px 10px 10px;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	color: #373737;
	font-style: normal;
	text-align: left;
	line-height: 1.4;
}

.d3 {
	width:20%;
	padding-top: 45px;
	background-color: #ffffff;
}

.d3 h4 {
	color: #b0b0b0;
	text-align: left;
	font-weight: 100;
}



@media screen and (max-width:700px){
	.d3{display:none;}

	.lr_div{
		display:block;
        width:100%;
		justify-content: space-evenly;
		margin-bottom:100px;
		/* flex-direction: column-reverse; */
	}
	.d2{
		max-width:100%;
		display:block;
		width:100%;
		padding:0px;
		margin:0px !important;
	}
	.d2 h3{
		font-size: 1.4em;
		line-height:1.5em;
	}

	.d1 {
		width:96%;
		display:flex;
		padding:10px;

	}

	.author_urls_wrapper{
		display:none;
	}
	.info{
		display:none;
	}
	.name{
		display:block;
		color:#626262;
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		margin-left:3%;
		margin-top:auto;
		margin-bottom:auto;
	}
	.name p{
		font-size:0.9em;
	}
	.profile_pic {
		border-radius: 50%;
		width: 120px;
		margin-top: 10px;
	}

}

/* NEWS ======================================================================= */

.affix {
	top: 0px
}

#media {
	width:100%;
	margin-top: 10px;
	display:flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-evenly;
}
.post{
	margin:20px 5px 20px;
    /* width:38%; */
	flex-basis:200px;
    flex-grow:9999;
	height:auto;
	background-color: rgba(245, 245, 245, 0.284);
	border-style:solid;
	border-color:#ff061a1d;
	border-width: 0.1em;
	padding:25px;
    display:block;

}
.post:hover{
	box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.1), 0 2px 2px 0 #ed1b307e;
	transition-duration: 0.8s;

}
.post .img {
	position: relative;
	text-align: left;
}
.post img {
	height: 200px;
	width:  100%;;
	object-fit: cover;
}
.post .text{
	margin-top:10px;
	margin-bottom:10px;
	line-height: 1.5em;
}
.post .text a{
	color:#ee3e33;
	text-decoration: underline;
}
.post .author_box{
	display:flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	line-height: 1.5em;
	color:#ee3e33;
}
.read_btn{
	width:90px;
	height:30px;
	cursor: pointer;
}


*{
	/* outline-style: auto; */
}
/* Footer ----------------------------------------------------------------------*/

#footer {
	margin:auto;
	width:98%;
	height:fit-content;
	background-color:#6717170e;
	display:flex;
	flex-wrap:wrap;
	justify-content: space-evenly;
	line-height:15px;
	color:rgb(88, 86, 86);
	font-size: 10px;
	font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	padding:10px;
	border-top-style:solid;
	border-width:1px;
	border-color:#37373727;
}
#footer a{
	color:rgb(247, 0, 0);
}
.f_logo{
	width:200px;
	height:100px;
	color:#ee3f33a3;
	display:flex;
	align-items: center;
	justify-content: center;
}
.f_add{
	/* margin-right:50px; */
	width:300px;
	height:100px;
}
.f_cont{
	width: 200px;
	height:100px;
	display:flex;
	justify-content:center;
	align-items: center;
}



@media screen and (max-width:700px){
	#footer {
		margin:auto;
		width:98%;
		height:fit-content;
		background-color:#6717170e;
		display:block;
		justify-content: space-evenly;
		line-height:15px;
		color:rgb(88, 86, 86);
		font-size: 10px;
		font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
		padding:10px;
		border-top-style:solid;
		border-width:1px;
		border-color:#37373727;
	}
	.f_logo{
		width:200px;
		height:100px;
		color:#ee3f33a3;
		display:flex;
		align-items: left;
		justify-content: left;
	}
}


