.label{
    width:100%;
    background: url("../images/header/image\ 1.png");
    background-repeat:no-repeat;
    background-position: left;
    background-size:80%,80%;
    background-position:right;
    background-color: rgba(255, 255, 255, 0.093);
    padding-top:5px;
    padding-bottom:5px;
}
.label_{
    display:flex;
    align-items:center;
    width:fit-content;
    padding-top:15px;
    padding-bottom: 0px;
    padding-left:20px;
}

/* This is to edit the header team name and logo */
.label_ p{
    line-height: 35px !important;
    font-size:30px !important;
    text-shadow: none;
    font-family:'Times New Roman', Times, serif;
    font-weight:900;
    color: #ed1b2f;
    border-left-style:solid;
    border-width: 1px;
    padding-left:15px;
}
.label_ p span{
    font-size:25px;
    font-weight: 100;
}
.label_ img{
    float:left;
    clear: both;
    margin-right:5px;
    width:90px;
    height:90px;
}
.label_span{
    color:black !important;
}


.navbar{
    z-index: 9;
    position:sticky;
    top:0;
    width:100%;
    display:flex;
    
    background-color: rgba(255, 255, 255, 0.916);
    border-bottom-style:solid;
    border-bottom-color:#02020239;
    border-width: 0.1em;
}

.navbar.active{
    z-index: 9;
    position:sticky;
    top:0;
    width:100%;
    display:flex;
    background-color: rgba(255, 255, 255, 0.916);
    box-shadow: 0px 0.1px 5px rgba(49, 49, 49, 0.536);
}

.tsg_logo{
    display:none;
}
.tsg_logo.active{
    width:40%;
    display:flex;
    justify-content: left;
    align-items: center;
}
.tsg_logo.active span{
    font-size: 25px;
    font-family:'Times New Roman', Times, serif;
    font-weight:bold;
    color:#4b4b4b;
}
.tsg_logo.active img{
    margin-left:30px;
    margin-right:15px;
    float:left;
    width:50px;
    height:50px;
}

.navbar h3 a{
    text-shadow: 1px 1px 1px #36050560;
    text-decoration-style: none;
    color:white;
}
.navbar h3 a:hover{text-decoration: none;}
 
.navbar h3:hover{
	box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.1), 0 3px 10px 0 #ed1b307e;
	transition-duration: 0.5s;
}

.navlst{
    width:100%;
    list-style-type: none;
    display:flex;
    flex-wrap: wrap;
    justify-content: end;
    align-items: end;
    margin-top:0px;
}
.navlst li{
    margin:1% 2% 1%;
}
.navlst li a{
    font-family:'Times New Roman', Times, serif;
    text-decoration: none;
    font-weight:lighter;
    padding: 1px 1px 1px;
    font-size:1.2em;
    color:rgba(0, 0, 0, 0.675);
}
.navlst li a:hover{
    font-size:1.2em;
    font-weight:bolder;

}
.navlst li a.active{
    font-weight:bolder;
    border-bottom-color:#ee3f33;
    border-bottom-style:solid;
    border-width:1px;
    padding-bottom:7px;
    color:#ee3f33;
}
.m_butt{
    display:none;
}

/*---------Navigation End---------------------------------------------- */

@media screen and (max-width:1000px) and (min-width:700px){
    .navbar{
        display:flex;
        flex-direction: column;
    }
    .navlst{
        justify-content: left;
        margin-left:0px;
    }
}
@media screen and (max-width:700px) and (min-width:400px){
    .label{
        width:100%;
        background: url("../images/header/image\ 1.png");
        background-repeat:no-repeat;
        background-position: right;
        background-size:100%,100%;
        background-color: rgba(255, 255, 255, 0.093);
        padding-top:2%;
        padding-bottom:2%;
    }
    .label_{
        display:flex;
        align-items:center;
        width:80%;
        padding-left:20px;
        padding:auto;
    }
    .label_ p{
        line-height: 28px;
        font-size:20px !important;
        text-shadow: none;
        font-family:'Times New Roman', Times, serif;
        font-weight:900;
        color: #ed1b2f;
        border-left-style:solid;
        border-width: 1px;
        padding-left:15px;

        word-break: normal;
        white-space: normal;
    }
    .label_ p span{
        font-size:20px;
        font-weight: 100;
    }
    .label_ img{
        float:left;
        clear: both;
        margin-right:5px;
        width:70px;
        height:70px;
    }
    .label_span{
        color:black !important;
    }

    .navbar h3{
        width:40%;
        font-size: 1em;
        font-family:'Times New Roman', Times, serif;
        text-align:center;
        font-weight:bold;
        padding:2px;
        color:white;
        background-color: #ee3e33;
        border-radius: 4px;
    }
    .navbar{
        display:flex;
        justify-content:space-between;
        flex-direction: column;
    }
    .navlst{
        margin:0px;
        display:none;
        border-top-style:solid;
        border-color:#ee3e33;
        border-width:0.1em;
        align-items:flex-start;
        justify-content: right;
        flex-direction: column;
        width:100%;   
    }
    .navlst li{
        width:98%;
        text-align:right;
        margin:4px;
    }
    .navlst li:hover{
        background-color:#dedddd;
    }
    .navbar a{
        text-decoration: none;
        color:#ee3e33;
    }
    .m_butt{
        position:absolute;
        top:1.4rem;
        right:1.8rem;
        display:flex;
    }

    .navlst.active{
        position:absolute;
        padding-top:50px;
        background-color: rgba(255, 255, 255, 0.929);
        display:flex;
        transition-duration: 0.5s;
    }
    .tsg_logo.active{
        width:40%;
        display:flex;
        justify-content: left;
        align-items: center;
    }
    .tsg_logo.active span{
        font-size: 25px;
        font-family:'Times New Roman', Times, serif;
        font-weight:bold;
        color:#4b4b4b;
    }
    .tsg_logo.active img{
        margin-left:30px;
        margin-right:15px;
        float:left;
        width:50px;
        height:50px;
    }
}


@media screen and (max-width:400px){
    .label{
        width:100%;
        background: url("");
        background-repeat:no-repeat;
        background-position: right;
        background-size:200% 80%;
        background-color: rgba(255, 255, 255, 0.093);
        padding-top:2%;
        padding-bottom:2%;
    }
    .label_{
        display:flex;
        align-items:center;
        width:80%;
        padding-left:20px;
        padding:auto;
    }
    .label_ p{
        line-height: 28px;
        font-size:20px !important;
        text-shadow: none;
        font-family:'Times New Roman', Times, serif;
        font-weight:900;
        color: #ed1b2f;
        border-left-style:solid;
        border-width: 1px;
        padding-left:15px;

        word-break: normal;
        white-space: normal;
    }
    .label_ p span{
        font-size:10px;
        font-weight: 100;
    }
    .label_ img{
        float:left;
        clear: both;
        margin-right:5px;
        width:70px;
        height:70px;
    }
    .label_span{
        color:black !important;
    }

    .navbar h3{
        width:40%;
        font-size: 1em;
        font-family:'Times New Roman', Times, serif;
        text-align:center;
        font-weight:bold;
        padding:2px;
        color:white;
        background-color: #ee3e33;
        border-radius: 4px;
    }
    .navbar{
        display:flex;
        justify-content:space-between;
        flex-direction: column;
    }
    .navlst{
        margin:0px;
        display:none;
        border-top-style:solid;
        border-color:#ee3e33;
        border-width:0.1em;
        align-items:flex-start;
        justify-content: right;
        flex-direction: column;
        width:100%;   
    }
    .navlst li{
        width:98%;
        text-align:right;
        margin:4px;
    }
    .navlst li:hover{
        background-color:#dedddd;
    }
    .navbar a{
        text-decoration: none;
        color:#ee3e33;
    }
    .m_butt{
        position:absolute;
        top:1.4rem;
        right:1.8rem;
        display:flex;
    }

    .navlst.active{
        position:absolute;
        padding-top:50px;
        padding-right:50px;
        background-color: rgba(255, 255, 255, 0.929);
        display:flex;
        transition-duration: 0.5s;
    }
    .tsg_logo.active{
        width:40%;
        display:flex;
        justify-content: left;
        align-items: center;
    }
    .tsg_logo.active span{
        font-size: 15px;
        font-family:'Times New Roman', Times, serif;
        font-weight:bold;
        color:#4b4b4b;
        white-space:nowrap;
    }
    .tsg_logo.active img{
        margin-left:20px;
        margin-right:15px;
        float:left;
        width:40px;
        height:40px;
    }
}